body{
    background-color: silver;
    margin: 0;
    padding: 0;
}

#container{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

header{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 30px;

}

footer{
    background-color: black;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-size: 70%;
    padding: 6px;
}

nav{
    background-color: rgb(83, 90, 97);
    color: white;
    padding: 6px;
}

#content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /*ez az alap */
    min-height: 150px;
    width: 100%;
}


#leftside{
    width: 25%;
    padding: 6px;
    background-color: yellow;
}

#center{
    width: 50%;
    padding: 6px;
    background-color: lightcoral;
}

#rightside{
    width: 25%;
    padding: 6px;
    background-color: aqua;
}

@media screen and (max-width: 800px) {}
    #content {
        flex-direction: column;
    }
    #leftside, #center, #rightside {
        width: auto;
}

#center{
    flex-grow: 1;
}

#rightside{
    display: none;
}

.menu li{
    display: block;
    border-right: none;
    border-bottom: 1px solid black;
}

.menu li:last-child{
    border-bottom: none;
}

.menu li a{
    padding: 10px;
}

header h1{
    font-size: 130%;
}